body > ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

@media (prefers-color-scheme: light) {
    body {
        background-color: #f0f0f0;
        color: #333;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #333;
        color: #f0f0f0;
    }
}