ul.titlebar-components{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (prefers-color-scheme: light) {
    div.titlebar {
        background-color: #f0f0f0;
        color: #333;
    }

}

@media (prefers-color-scheme: dark){
    div.titlebar {
        background-color: #333;
        color: #f0f0f0;
    }
}